{% extends "base.html" %}
{% block content %}
<nav class="flex gap-x-4 my-2">
    <a id="profile_about_href" class="py-2 px-4 rounded-md no-underline text-stone-800 hover:bg-neutral-300" href="/profile/{{ current_user.name }}">Основное</a>
    <a id="profile_pools_href" class="py-2 px-4 rounded-md no-underline text-stone-800 hover:bg-neutral-300" href="/profile/{{ current_user.name }}/pools">Пулы</a>
    <a id="profile_groups_href" class="py-2 px-4 rounded-md no-underline text-stone-800 hover:bg-neutral-300" href="/profile/{{ current_user.name }}/groups">Кружки</a>
    <a id="profile_settings_href" class="py-2 px-4 rounded-md no-underline text-stone-800 hover:bg-neutral-300" href="/profile/{{ current_user.name }}/settings">Настройки</a>
</nav>

<div class="h-px w-full bg-neutral-300"></div>

<div class="flex mt-4 gap-x-4">
    <section class="flex flex-col items-center gap-y-4">
        <img src="/static/images/user.png" class="w-48 h-48 rounded-full border-2 border-solid border-sky-400 mix-blend-multiply">
        <span class="text-xl text-stone-800">{{ current_user.name }}</span>
    </section>
    <section>
    {% block profile_content %}{% endblock %}
    </section>
</div>
{% endblock %}