<table class="border-collapse border-2 border-solid border-sky-400 w-full h-full">
    <tbody>
        <tr class="odd:bg-white even:bg-neutral-100 hover:bg-neutral-200">
            <th class="text-xl py-2 px-8">Название пула</th>
            <th class="text-xl py-2 px-8">Роль</th>
            <th class="text-xl py-2 px-8">Приглашение</th>
            <th class="text-xl py-2 px-8">Время вступления</th>
            <th class="text-xl py-2 px-8">Время приглашения</th>
        </tr>
        {% for userpool in current_user.get_pools() %}
        <tr class="odd:bg-white even:bg-neutral-100 hover:bg-neutral-200">
            <td class="text-base h-full"><a class="no-underline flex justify-center items-center h-full w-full text-stone-900 font-bold hover:text-blue-600" href="/pool/{{ userpool.pool.hashed_id }}/problems"><span>{{ userpool.pool.name }}</span></a></td>
            {% if userpool.role.isOwner() %} <td class="text-center text-base py-2 text-amber-500">Владелец</td>
            {% elif userpool.role.isParticipant() %} <td class="text-center text-base py-2 text-purple-500">Участник</td>
            {% elif userpool.role.isInvited() %} <td class="text-center text-base py-2 text-teal-500">Приглашённый</td>
            {% endif %}
            {% if not userpool.role.isInvited() %} <td class="text-center text-base py-2 text-blue-700">Принято</td>
            {% else %}
            <td class="text-center text-base py-2">
                <div class="flex justify-center gap-x-4">
                    <a href="javascript:Accept('{{ userpool.pool.hashed_id }}');" class="no-underline text-green-500">Принять</a>
                    <a href="javascript:Decline('{{ userpool.pool.hashed_id }}');" class="no-underline text-red-500">Отклонить</a>
                </div>
            </td>
            {% endif %}
            <td class="text-center text-base py-2">
                ???
            </td>
            <td class="text-center text-base py-2">
                ???
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>