{% extends "base.html" %}
{% block content %}
<nav class="profile__nav">
    <a id="profile_about_href" class="profile__nav__link" href="/profile/{{ current_user.name }}">Основное</a>
    <a id="profile_pools_href" class="profile__nav__link" href="/profile/{{ current_user.name }}/pools">Пулы</a>
    <a id="profile_groups_href" class="profile__nav__link" href="/profile/{{ current_user.name }}/groups">Кружки</a>
    <a id="profile_settings_href" class="profile__nav__link" href="/profile/{{ current_user.name }}/settings">Настройки</a>
</nav>
<div class="separator--horizontal"></div>

<div class="profile__container">
    <section class="profile__picture">
        <img src="/static/images/user.png" class="profile__picture__img circle img--mixed">
        <span class="profile__picture__username">{{ current_user.name }}</span>
    </section>
    <section class="profile__content">
    {% block profile_content %}{% endblock %}
    </section>
</div>
{% endblock %}