{% extends "profile/profile.html" %}
{% block profile_content %}
<style>
    #profile_pools_href {
        border-bottom: 3px solid var(--color-border-blue);
    }
</style>
    <script>
        function Accept(pool_hashed_id) {
            var data = {'pool_hashed_id' : pool_hashed_id};
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/accept_pool_invitation', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("pools_block").innerHTML = this.responseText;
                }
            }
            xhr.send(JSON.stringify(data));
        }
        function Decline(pool_hashed_id) {
            var data = {'pool_hashed_id' : pool_hashed_id};
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/decline_pool_invitation', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("pools_block").innerHTML = this.responseText;
                }
            }
            xhr.send(JSON.stringify(data));
        }
    </script>
    <div class="profile__content__pools">
        <div class="profile__content__pools__header">
            <input type="text" placeholder="Найти пул...">
            <a href="/pool/create" class="no-decoration btn btn--green form__submit">Новый пул</a>
        </div>
        
        <div id="pools_block">
        {% include "profile/profile_pools_table.html" %}
        </div>
    </div>
{% endblock %}