{% extends "profile/profile.html" %}
{% block profile_content %}
<script>
    var element = document.getElementById("profile_pools_href");
    element.classList.add("border-b-2");
    element.classList.add("border-b-sky-400");
    element.classList.add("border-solid");
</script>
    <script>
        function Accept(pool_hashed_id) {
            var data = {'pool_hashed_id' : pool_hashed_id};
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/accept_pool_invitation', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("pools_block").innerHTML = this.responseText;
                }
            }
            xhr.send(JSON.stringify(data));
        }
        function Decline(pool_hashed_id) {
            var data = {'pool_hashed_id' : pool_hashed_id};
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/decline_pool_invitation', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("pools_block").innerHTML = this.responseText;
                }
            }
            xhr.send(JSON.stringify(data));
        }
    </script>
    <div class="flex flex-col gap-y-4">
        <div class="flex justify-between">
            <input type="text" placeholder="Найти пул..." class="text-2xl bg-neutral-100 border-2 border-solid border-neutral-300 rounded-md p-2">
            <a href="/pool/create" class="hover: cursor-pointer px-16 py-4 rounded-xl text-lg text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700">Новый пул</a>
        </div>
        
        <div id="pools_block">
        {% include "profile/profile_pools_table.html" %}
        </div>
    </div>
{% endblock %}