{% extends "profile/profile.html" %}
{% block profile_content %}
<script>
    var element = document.getElementById("profile_clubs_href");
    element.classList.add("border-b-2");
    element.classList.add("border-b-sky-400");
    element.classList.add("border-solid");
    element.classList.add("bg-slate-200");
</script>
<div class="flex justify-between items-center">
    <span class="text-2xl font-bold text-blue-800">Список кружков</span>
    <a class="hover:cursor-pointer px-12 py-3 rounded-md text-md text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700"
    href="/club/create">Добавить кружок</a>
</div>

{% if current_user.user_clubs %}
<table class="text-lg w-full mt-4" cellspacing="0" cellpadding="0">
    <tr class="border-b-blue-800 border-b-2 text-slate-400 text-left">
        <th class="p-4">НАЗВАНИЕ</th>
        <th class="p-4">РОЛЬ</th>
        <th class="p-4">ХЕШ</th>
    </tr>
    {% for uc in current_user.user_clubs %}
    <tr class="even:bg-slate-200 odd:bg-slate-50">
        <td class="flex items-center gap-x-2 p-4 text-lg font-bold text-slate-600">
            <a href="/club/{{ uc.club.hashed_id }}/chats" class="hover:underline block">{{ uc.club.name }}</a>
        </td>
        {% if uc.role.isOwner() %} <td class="py-2 p-4 text-base">
            <div class="flex items-center w-fit gap-x-2 rounded-full bg-amber-100 text-amber-500 font-bold px-2 py-1">
                <span class="block h-4 w-4 rounded-full bg-amber-500"></span>
                <span>ВЛАДЕЛЕЦ</span>
            </div>
        </td>
        {% elif uc.role.isParticipant() %} <td class="py-2 p-4 text-base">
            <div class="flex items-center w-fit gap-x-2 rounded-full bg-purple-100 text-purple-500 font-bold px-2 py-1">
                <span class="block h-4 w-4 rounded-full bg-purple-500"></span>
                <span>УЧАСТНИК</span>
            </div>
        </td>
        {% endif %}
        <td class="p-4">
            {{ uc.club.hashed_id }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}