{% extends "base.html" %}
{% block content %}
<nav class="flex">
    <a id="profile_about_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/profile/user/{{ user.name }}">Основное</a>
    {% if current_user.is_authenticated and (current_user.name == user.name) %}
        <a id="profile_pools_href" class="py-4 px-8  no-underline text-black font-bold hover:bg-slate-200" href="/profile/pools">Пулы</a>
        <a id="profile_clubs_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/profile/clubs">Кружки</a>
        <a id="profile_chats_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/profile/chats">Чаты</a>
        <a id="profile_settings_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/profile/settings">Настройки</a>
        <div class="w-px bg-neutral-300"></div>
        <a id="profile_myproblems_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/problems/{{ user.name }}">Мои задачи</a>
        <a id="profile_mysheets_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/sheets/{{ user.name }}">Мои подборки</a>
        <a id="profile_mycontests_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/contests/{{ user.name }}">Мои контесты</a>
    {% else %}
        <div class="w-px bg-neutral-300"></div>
        <a id="profile_myproblems_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/problems/{{ user.name}}">Задачи пользователя</a>
        <a id="profile_mysheets_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/sheets/{{ user.name }}">Подборки пользователя</a>
        <a id="profile_mycontests_href" class="py-4 px-8 no-underline text-black font-bold hover:bg-slate-200" href="/archive/contests/{{ user.name}}">Контесты пользователя</a>
    {% endif %}
</nav>

<div class="h-px w-full bg-neutral-300"></div>

<div class="flex mt-4 gap-x-8 items-start w-full">
    <section class="flex flex-col items-center gap-y-4 w-48">
        {% if (user.profile_pic is none) or (user.profile_pic=="") %}
            <img src="/static/images/user.png" class="w-full rounded-full border-2 border-solid border-stone-800 mix-blend-multiply box_shadow">
        {% else %}
            <img src="{{ url_for('prof.show_profile_pic', filename=user.profile_pic) }}" alt="{{ user.name }}" class="w-full rounded-full border-2 border-solid border-stone-800 mix-blend-multiply box_shadow">
        {% endif %}
        <div class="flex flex-row items-center gap-x-2">
            <span class="text-xl text-stone-900 font-semibold">{{ user.name }}</span>
            {% if current_user.is_authenticated and (current_user.name != user.name) %}
                <form class="flex flex-col items-center" action="/profile/user/{{user.name}}" method="POST">
                    <input type="hidden" name="chat_with_user" value="239">
                    <label>
                        <input type="submit" value="Написать" class="hidden">
                        <img src="/static/images/send.svg" class="w-8 h-8 hover:cursor-pointer">
                    </label>
                </form>
            {% endif %}
        </div>
        {% if current_user.is_authenticated and (current_user.name != user.name) %}
        {% if (user in current_user.get_friends_from()) %}
        <span class="text-center">Заявка в друзья отправлена</span>
        {% elif (user in current_user.get_friends_to()) %}
        <form class="flex flex-col items-center" action="/profile/chats" method="POST">
            <input type="hidden" name="cmd" value="accept_friend">
            <input type="hidden" name="friend_id" value="{{ user.id }}">
            <input type="submit" value="Принять заявку в друзья" class="hover:cursor-pointer hover:text-green-500 hover:font-bold">
        </form>
        <form class="flex flex-col items-center" action="/profile/chats" method="POST">
            <input type="hidden" name="cmd" value="reject_friend">
            <input type="hidden" name="friend_id" value="{{ user.id }}">
            <input type="submit" value="Отклонить заявку" class="hover:cursor-pointer hover:text-red-600 hover:font-bold">
        </form>
        {% elif (user in current_user.get_friends()) %}
        <span class="text-center">У вас в друзьях</span>
        {% else %}
        <form class="flex flex-col items-center" action="/profile/chats" method="POST">
            <input type="hidden" name="cmd" value="send_friend">
            <input type="hidden" name="friend_id" value="{{ user.id }}">
            <input type="submit" value="Добавить в друзья" class="hover:cursor-pointer">
        </form>
        {% endif %}
        {% endif %}
        {% if current_user.is_authenticated and (current_user.name == user.name) %}
        <div class="flex flex-col gap-y-2 w-full">
            <form class="flex flex-col items-center w-full gap-y-2" action="/profile/user/{{user.name}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="update_profile_pic" value="239">
                <label for="inp_file" id="label_for_file" class="block border border-black rounded-md p-2 hover:text-white hover:bg-stone-700 hover:cursor-pointer w-full text-center whitespace-nowrap overflow-hidden text-ellipsis">Загрузить фото</label>
                <input type="file" id="inp_file" class="hidden" name="profile_pic" accept="image/*">

                <input type="submit" value="Сохранить"
                class="hover:cursor-pointer px-4 py-2 rounded-md text-md text-white bg-green-500 hover:bg-green-600 active:bg-green-700 w-full">
            </form>
            <form class="flex flex-col items-center" action="/profile/user/{{user.name}}" method="POST">
                <input type="hidden" name="delete_profile_pic" value="239">
                <input type="submit" value="Удалить фото" class="font-bold hover:text-red-500 hover:cursor-pointer">
            </form>
        </div>
        {% endif %}
    </section>
    <section class="grow bg-white rounded-xl box_shadow p-8">
    {% block profile_content %}{% endblock %}
    </section>
</div>

<script>
    var fileInput = document.getElementById("inp_file");
    var fileLabel = document.getElementById("label_for_file");
    fileInput.addEventListener("change", function (event) {
        if (event.target.files.length > 0) {
            var file = event.target.files[0];
            fileLabel.textContent = file.name;
        }
        else {
            fileLabel.textContent = "Загрузить фото";
        }
    })
</script>
{% endblock %}