<table class="table">
    <tbody>
        <tr class="table__row">
            <th class="table__header">Название пула</th>
            <th class="table__header">Роль</th>
            <th class="table__header">Приглашение</th>
            <th class="table__header">Время вступления</th>
            <th class="table__header">Время приглашения</th>
        </tr>
        {% for userpool in current_user.get_pools() %}
        <tr class="table__row">
            <td class="table__cell"><a href="/pool/{{ userpool.pool.hashed_id }}/problems" style="color: black; font-weight: bold; text-decoration: none;">{{ userpool.pool.name }}</a></td>
            {% if userpool.role.isOwner() %} <td class="table__cell pool--owner">Владелец</td>
            {% elif userpool.role.isParticipant() %} <td class="table__cell pool--participant">Участник</td>
            {% elif userpool.role.isInvited() %} <td class="table__cell pool--invited">Приглашённый</td>
            {% endif %}
            {% if not userpool.role.isInvited() %} <td class="table__cell pool--accepted">Принято</td>
            {% else %}
            <td class="table__cell">
                <div class="pools__table__accept-decline">
                    <a href="javascript:Accept('{{ userpool.pool.hashed_id }}');" class="no-decoration pool--accept--invitation">Принять</a>
                    <a href="javascript:Decline('{{ userpool.pool.hashed_id }}');" class="no-decoration pool--decline--invitation">Отклонить</a>
                </div>
            </td>
            {% endif %}
            <td class="table__cell">
                ???
            </td>
            <td class="table__cell">
                ???
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>