{% extends "club/club_header.html" %}
{% block club_body %}
<div class="w-full bg-white rounded-xl shadow-md p-8">
<script>
    var element = document.getElementById("chats_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>

{% set own = current_user.get_club_relation(club.id).role.isOwner() %}
{% if own %}
<div class="flex justify-between">
    <span class="text-2xl font-bold text-blue-800">Чаты</span>
    <a class="hover:cursor-pointer px-12 py-3 rounded-md text-md text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700"
    href="/club/{{ club.hashed_id }}/chat/create">Создать чат</a>
</div>
{% endif %}

{% if club.chats %}
<table class="text-lg w-full mt-4 relative border-separate" cellspacing="0" cellpadding="0">
    <tr class="border-b-blue-800 border-b-2 text-slate-400 text-left">
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">НАЗВАНИЕ</th>
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">НЕПРОЧИТАННЫЕ</th>
        {% if own %}
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white"></th>
        {% endif %}
    </tr>
    {% for c in club.chats %}
    <tr class="even:bg-slate-200 odd:bg-slate-50">
        <td class="flex items-center gap-x-2 p-4 text-lg font-bold text-slate-600">
            <a href="/chat/{{ c.hashed_id }}/messages" class="block hover:underline">{{ c.name }}</a>
        </td>
        <td class="p-4 font-bold">
            <span>{{c.get_unread_messages()|length}}</span>
        </td>
        {% if own %}
        <td class="p-4 text-right">
            <form action="/club/{{ club.hashed_id }}/chats" method="post" class="inline-block">
                <input type="hidden" name="remove_chat" value="{{ c.id }}">
                <label class="cursor-pointer">
                    <input type="submit" class="hidden">
                    <img class="w-6 border-0" src="/static/images/bin.svg" alt="bin">
                </label>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}