{% extends "base.html" %}
{% block content %}
<div class="auth_main_div">
    <form class="auth_form form-anticlear" action="/register" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="notification {{ category }}" style="width: 100%;">{{ message }}</div>
        {% endfor %}
        {% endwith %}
        <div class="auth_form_header">
            <div style="font-size: 25px; font-weight: bold; margin-bottom: 10px;">Первый раз на GeoMath?</div>
            <div style="font-size: 15px">Регистрация на сайте</div>
        </div>
        <div class="auth_form_input_block">
            <div class="auth_form_input_field_name">Логин</div>
            <input type="text" name="login" class="auth_form_input_field" required >
        </div>
        <div class="auth_form_input_block">
            <div class="auth_form_input_field_name">Email</div>
            <input type="email" name="email" class="auth_form_input_field" required>
        </div>
        <div class="auth_form_input_block">
            <div class="auth_form_input_field_name">Пароль</div>
            <input type="password" name="password" class="auth_form_input_field" required>
        </div>
        <div class="auth_form_input_block">
            <div class="auth_form_input_field_name">Повторите пароль</div>
            <input type="password" name="repeat_password" class="auth_form_input_field" required>
        </div>
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
        <input class="auth_form_submit_button" type="submit" value="Зарегистрироваться">
    </form>
</div>
{% endblock %}