app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/email_verifying.cpython-310.pyc
app/__pycache__/errorhandlers.cpython-310.pyc
app/__pycache__/imports.cpython-310.pyc
app/__pycache__/mathjax.cpython-310.pyc
app/__pycache__/model_imports.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/navigation.cpython-310.pyc
app/__pycache__/pool.cpython-310.pyc
app/__pycache__/prof.cpython-310.pyc
app/__pycache__/sqlalchemy_custom_types.cpython-310.pyc
app/database/data.sqlite
app/utils_and_functions/__pycache__/decorators.cpython-310.pyc
app/utils_and_functions/__pycache__/send_letter.cpython-310.pyc
app/utils_and_functions/__pycache__/token_gen.cpython-310.pyc
app/utils_and_functions/__pycache__/usefull_functions.cpython-310.pyc
email_secret_data.py
app/utils_and_functions/__pycache__
app/__pycache__
__pycache__/email_secret_data.cpython-311.pyc
__pycache__
app/database/attachments/problems/
app/database/profile_pics
app/static/js/generator.js
app/static/js/html-generator.js
app/static/js/latex.component.js
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako
migrations/versions/d5d3131cb36b_commit_message123.py
migrations
.idea/GeoMath2.iml
.idea/misc.xml
