{% if current_pool.contests %}
<table class="table1" cellpadding="0" cellspacing="0">
    <tr>
        <th>Название</th>
        <th>Тип доступа</th>
        <th>Состояние</th>
        <th></th>
    </tr>
    {% for contest in current_pool.contests %}
    <tr>
        <td class="hover:underline">
            <a href="/pool/{{ current_pool.hashed_id }}/contest/{{ contest.id }}"
            class="block">{{ contest.name }}</a>
        </td>
        {% if contest.is_archived() %}
        <td class="bg-green-200">
            <span class="block">В архиве</span>
        </td>
        {% else %}
        <td class="bg-slate-200">
            <span class="block">Скрытый</span>
        </td>
        {% endif %}
        <td>
            {% if contest.is_ended() %}
            <span>Завершён</span>
            {% elif contest.is_started() %}
            <span>Идёт...</span>
            {% else %}
            <span>Не начался</span>
            {% endif %}
        </td>
        <td>
            <button class="border-0 bg-transparent cursor-pointer block"
            onclick="remove_contest('{{ current_pool.hashed_id }}', '{{ contest.id }}')"><img
                class="w-6 border-0" src="/static/images/bin.svg" alt="bin"></button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}