{% extends "pool/pool_header.html" %}
{% block pool_body %}
<style>
    #management_href {
        color: var(--blue);
    }
</style>
<style>
    .main_div {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .greeting {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }



    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        border: 2px solid var(--blue);
        border-radius: 10px;
        padding: 10px;

    }

    .sidenav a {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sidenav_item {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: var(--black);
        background-color: initial;
        border: 0;
        border-radius: 6px;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
    }
    .pool_topnav_item:hover {
        background-color: var(--light-gray);
    }

    .settings_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        width: 100%;
        height: 100%;
        background-color: var(--white);
    }
</style>


<div class="content">
    <div class="sidenav">
        <a class="sidenav_item" id="management_general_href" href="/pool/{{ current_pool.hashed_id }}/management/general"><span>Общие настройки</span></a>
        <a class="sidenav_item" id="management_collaborators_href" href="/pool/{{ current_pool.hashed_id }}/management/collaborators"><span>Участники</span></a>
    </div>
    <div style="border-left: 2px solid var(--medium-gray);"></div>
    <div class="settings_content">
        {% block pools_settings %}{% endblock %}
    </div>
</div>


{% endblock %}