{% if current_pool.sheets %}
<table class="text-lg w-full mt-4 relative border-separate" cellpadding="0" cellspacing="0">
    <tr class="border-b-blue-800 border-b-2 text-slate-400 text-left">
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">НАЗВАНИЕ</th>
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">ДОСТУП</th>
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">ЛАЙКИ</th>
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white">ID</th>
        <th class="p-4 sticky top-0 border-b-blue-800 border-b-2 bg-white"></th>
    </tr>
    {% for sheet in current_pool.sheets %}
    <tr class="even:bg-slate-200 odd:bg-slate-50">
        <td class="flex items-center gap-x-2 p-4 text-lg font-bold text-slate-600">
            <a href="/pool/{{ current_pool.hashed_id }}/sheet/{{ sheet.id }}"
            class="hover:underline block">{{ sheet.name }}</a>
        </td>

        {% if sheet.is_archived() %} <td class="py-2 p-4 text-base">
            <div class="flex items-center w-fit gap-x-2 rounded-full bg-green-100 text-green-500 font-bold px-2 py-1">
                <span class="block h-4 w-4 rounded-full bg-green-500"></span>
                <span>В АРХИВЕ</span>
            </div>
        </td>
        {% else %} <td class="py-2 p-4 text-base">
            <div class="flex items-center w-fit gap-x-2 rounded-full bg-stone-200 text-stone-500 font-bold px-2 py-1">
                <span class="block h-4 w-4 rounded-full bg-stone-500"></span>
                <span>СКРЫТАЯ</span>
            </div>
        </td>
        {% endif %}

        <td class="p-4">
            +{{ sheet.get_all_likes_good()|length }} -{{ sheet.get_all_likes_bad()|length }}
        </td>

        <td class="p-4">
            {{ sheet.id }}
        </td>

        <td class="text-right px-4">
            <a href="/pool/{{ current_pool.hashed_id }}/share/sheet/{{ sheet.id }}" class="inline-block cursor-pointer mr-2"><img
                class="w-6 border-0" src="/static/images/share.svg" alt="share"></a>
            <button class="border-0 bg-transparent cursor-pointer inline-block"
            onclick="remove_contest('{{ current_pool.hashed_id }}', '{{ sheet.id }}')"><img
                class="w-6 border-0" src="/static/images/bin.svg" alt="bin"></button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}