{% extends "base.html" %}
{% block content %}

<div class="my-4 pl-4">
        <span class="text-2xl text-stone-800"> <a href="/profile/pools" class="no-underline hover:underline">Мои пулы</a> </span>
        <span class="text-2xl text-stone-800 mx-2"> / </span>
        <span class="text-2xl text-stone-800 font-bold"> <a href="/pool/{{ current_pool.hashed_id }}/problems" class="no-underline hover:underline">{{ current_pool.name }}</a> </span>
</div>

<nav class="flex pl-4 gap-x-8">
    <a id="problems_href" href="/pool/{{ current_pool.hashed_id }}/problems" class="flex items-center no-underline text-stone-800 text-lg text-center rounded-md cursor-ponter p-1 hover:bg-slate-200">
        <img src="/static/images/math.svg" class="mr-3 w-6">
        <span>Задачи</span>
    </a>
    <a id="sheets_href" href="/pool/{{ current_pool.hashed_id }}/sheets" class="flex items-center no-underline text-stone-800 text-lg text-center rounded-md cursor-ponter p-1 hover:bg-slate-200">
        <img src="/static/images/sheet.svg" class="mr-3 w-6">
        <span>Подборки</span>
    </a>
    <a id="contests_href" href="/pool/{{ current_pool.hashed_id }}/contests" class="flex items-center no-underline text-stone-800 text-lg text-center rounded-md cursor-ponter p-1 hover:bg-slate-200">
        <img src="/static/images/contest.svg" class="mr-3 w-6">
        <span>Контесты</span>
    </a>
    <a id="participants_href" href="/pool/{{ current_pool.hashed_id }}/participants" class="flex items-center no-underline text-stone-800 text-lg text-center rounded-md cursor-ponter p-1 hover:bg-slate-200">
        <img src="/static/images/users.svg" class="mr-3 w-6">
        <span>Участники</span>
    </a>
    {% if current_user.get_pool_relation(current_pool).role.is_owner() %}
    <a id="management_href" href="/pool/{{ current_pool.hashed_id }}/management" class="flex items-center no-underline text-stone-800 text-lg text-center rounded-md cursor-ponter p-1 hover:bg-slate-200">
        <img src="/static/images/settings.svg" class="mr-3 w-6">
        <span>Управление</span>
    </a>
    {% endif %}
</nav>

<div class="h-px w-full bg-neutral-300 my-2"></div>



{% block pool_body %}{% endblock %}

{% endblock %}