{% if current_pool.problems %}

<table class="table1" cellpadding="0" cellspacing="0">
    <tr>
        <th>Название</th>
        <th>Хеш</th>
        <th>Тип доступа</th>
        <th></th>
    </tr>
    {% for problem in current_pool.problems %}
    <tr>
        <td class="hover:underline">
            <a href="/pool/{{ current_pool.hashed_id }}/problem/{{ problem.hashed_id }}"
            class="block">{{ problem.name }}</a>
        </td>
        <td>
            <span id="copy_hash_span-{{ problem.id }}"
                class="text-slate-500">{{
                problem.hashed_id }}</span>
        </td>
        {% if problem.is_archived() %}
        <td class="bg-green-200">
            <span class="block">В архиве</span>
        </td>
        {% else %}
        <td class="bg-slate-200">
            <span class="block">Скрытая</span>
        </td>
        {% endif %}
        <td>
            <button class="border-0 bg-transparent cursor-pointer block"
            onclick="remove_problem('{{ current_pool.hashed_id }}', '{{ problem.hashed_id }}')"><img
                class="w-6 border-0" src="/static/images/bin.svg" alt="bin"></button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const spans = document.querySelectorAll('span[id^="copy_hash_span-"]');
        console.log(spans);

        for (let span of spans) {
            span.addEventListener("click", function () {
                navigator.clipboard.writeText(this.innerText);
                var flash = document.getElementById(`fading_flash-${span.id.split("copy_hash_span-")[1]}`);
                fade(flash, 1000);
            })
        }
    });

    /*var span = document.getElementById("copy_hash_span");
    span.addEventListener("click", function () {
        navigator.clipboard.writeText(this.innerText);
        var flash = document.getElementById("fading_flash");
        fade(flash, 1000);
    })*/
</script>