<ul class="list-none p-0 border-4 border-solid border-sky-400 rounded-lg">
    {% for contest in current_pool.contests %}
    <li class="border-b border-slate-200 bg-white p-4 flex flex-col first:rounded-t-lg last:rounded-b-lg hover:bg-slate-100">
        <div class="flex justify-between">
            <div>
                <div class="flex flex-row">
                <a href="/pool/{{ current_pool.hashed_id }}/contest/{{ contest.id }}" class="no-underline text-black text-xl hover:underline">{{ contest.name }}</a>

                {% if contest.is_public %}
                <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
                <span class="no-underline text-black text-xl">Контест в архиве</span>
                {% endif %}
                </div>
            </div>
            <button class="border-0 bg-transparent cursor-pointer" onclick="remove_contest('{{ current_pool.hashed_id }}', '{{ contest.id }}')"><img class="w-6 border-0" src="/static/images/bin.png" alt="bin"></button>
        </div>
    </li>
    {% endfor %}
</ul>