<ul class="list-none p-0 border-4 border-solid border-sky-400 rounded-lg">
    {% for sheet in current_pool.sheets %}
    <li class="border-b border-slate-200 bg-white p-4 flex flex-col first:rounded-t-lg last:rounded-b-lg hover:bg-slate-100">
        <div class="flex justify-between">
            <div>
                <div class="flex flex-row">
                <a href="/pool/{{ current_pool.hashed_id }}/sheet/{{ sheet.id }}" class="no-underline text-black text-xl hover:underline">{{ sheet.name }}</a>

                {% if sheet.is_public %}
                <span class="text-slate-500 font-bold mx-4">|</span>
                <div class="flex flex-col">
                    <span class="no-underline text-black text-xl">Подборка в архиве</span>
                    <form action="/pool/{{ current_pool.hashed_id }}/sheets" method="post" class="my-4">
                        <input type="hidden" name="back_to_pool" value="{{ current_pool.hashed_id }}">
                        <input type="hidden" name="sheet_id" value="{{ sheet.id }}">
                        <input type="submit" value="Вернуть на доработку?"
                            class="hover:font-bold hover:cursor-pointer hover:text-blue-600">
                    </form>
                </div>
                {% endif %}
                </div>
            </div>
            <button class="border-0 bg-transparent cursor-pointer" onclick="remove_sheet('{{ current_pool.hashed_id }}', '{{ sheet.id }}')"><img class="w-6 border-0" src="/static/images/bin.png" alt="bin"></button>
        </div>
    </li>
    {% endfor %}
</ul>