{% extends "pool/pool_header.html" %}
{% block pool_body %}

<style>
    input::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
</style>

{% if current_user.get_pool_relation(current_pool.id).role.isOwner() %}
<div class="flex justify-between">
    {% if current_contest.is_public %}
    <div class="flex flex-row items-center">
        <a href="/contest/{{ current_contest.id }}" class="text-green-600 font-bold text-xl hover:underline">
            <h3 class="">Контест опубликован</h3>
        </a>
        <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
        <form action="/pool/{{ current_pool.hashed_id }}/contests" method="post">
            <input type="hidden" name="back_to_pool" value="{{ current_pool.hashed_id }}">
            <input type="hidden" name="contest_id" value="{{ current_contest.id }}">
            <input type="submit" value="Вернуть на доработку?"
                class="hover:font-bold hover:cursor-pointer hover:text-blue-600 text-xl">
        </form>
    </div>
    {% endif %}
    {% if not current_contest.is_public %}
    <form action="/archive/publish/contest/{{current_contest.id}}" method="post" class="w-full flex flex-row justify-end">
        <input type="submit"
            class="hover:cursor-pointer px-12 py-2 rounded-xl text-lg text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700"
            value="Опубликовать в архив">
    </form>
    {% endif %}
</div>
{% if current_contest.is_public %}
<div class="h-px w-full bg-neutral-300 my-2"></div>
{% endif %}

{% endif %}
<div class="flex flex-col">
    <form autocomplete="off" action="/pool/{{ current_pool.hashed_id }}/contest/{{ current_contest.id }}" method="post"
        class="w-full mt-2 flex flex-col gap-y-4" enctype="multipart/form-data">
        <input type="hidden" name="save_contest" value="239">
        

        <div class="flex flex-row items-center w-full gap-x-4">
            <div class="flex flex-row items-center">
                <span class="text-2xl font-bold">{{ current_contest.name }}</span>
            </div>
            <input type="submit" value="Сохранить"
                class="hover:cursor-pointer px-8 py-2 rounded-md text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700">
        </div>
        
        {% if current_contest.is_public %}
        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <div id="contest-state-div" class="flex gap-x-2 items-center"><span class="font-bold">Состояние:</span><span id="contest-state-span"></span></div>
            <div id="timer-div" class="flex gap-x-2 items-center"><span class="font-bold" id="timer-span-text"></span><span id='timer-span-clock'></span></div>
        </div>
        {% endif %}
        
        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Название:</h2>
            <div class="flex w-full">
                <textarea rows="1" cols="50" name="name" class="text-lg w-full p-4 border-slate-200 border-2 rounded-lg" {%
                    if current_contest.is_public %} readonly {% endif %}>{{ current_contest.name }}</textarea>
            </div>
        </div>

        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Описание:</h2>
            <div class="flex w-full items-start">
                <textarea id="description_textarea" cols="50" name="description" {% if current_contest.is_public %}
                    readonly {% endif %} class="w-1/2 p-4 border-slate-200 border-2 rounded-lg">{{ current_contest.description }}</textarea>
            </div>
        </div>

        <script>
            makeLaTeXArea("description_textarea", "contest");
        </script>

        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Задачи:</h2>
            <div class="flex">
                <div class="border-r-2 border-slate-300 w-1/2">
                    <div class="flex flex-col {% if current_contest.get_problems() %} gap-y-4 {% endif %} mr-4">
                        <ul class="flex flex-col gap-y-2 " id="problems-list">
                            {% for cp in current_contest.get_nonsecret_contest_problems() %}
                            {% with problem = cp.problem %}
                            <li class="flex w-full gap-x-2 items-center">
                                <span>
                                    {{ loop.index }}.
                                </span>
                                <input type="text" name="problem_hash"
                                    value="{{ problem.hashed_id }}" placeholder="Хеш задачи"
                                    class="input-problem-hash text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">
                                <input type="number" name="max_score"
                                    value="{{ cp.max_score }}" placeholder="Балл"
                                    min="1" max="999"
                                    class="input-max-score text-lg text-slate-800 border-slate-200 border rounded-lg px-2 py-2">
                                    <button onclick="DeleteProblem(this)"
                                    class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
                            </li>
                            {% endwith %}
                            {% endfor %}
                        </ul>
                        <button onclick="event.preventDefault(); AddProblem(event)"
                        class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-green-600">Добавить</button>
                    </div>
                </div>

                <div class="w-1/2 ml-4">
                    <div id="display-problem" class="hidden border-2 border-sky-400 p-8 rounded-xl"></div>
                </div>
            </div>
        </div>
        
        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Теги:</h2>
            <div class="flex gap-x-8 items-start">
                <ul class="w-full" id="tas_list">
                    {% for tag in current_contest.get_tags() %}
                    <li class="flex">
                        <input type="hidden" name="tag {{ tag.name }}" value="{{ tag.name }}">
                        <span class="text-slate-500 font-bold mr-4">#</span>
                        <div class="w-2/3"><span>{{ tag.name }}</span></div>
                        <span class="text-slate-500 font-bold mx-4">|</span>
                        <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-red-600"
                            onclick="DeleteTag(this)">Удалить тег</button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="flex w-full">
                    <span class="text-slate-500 font-bold mr-4">#</span>
                    <div class="w-2/3 relative inline-block">
                        <input id="addtag" type="text" placeholder="Введите тег" name="tag_name"
                            class="w-full border-slate-400 border-2 rounded px-2">
                    </div>
                    <span class="text-slate-700 font-bold mx-4">|</span>
                    <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-green-600"
                        onclick="AddTag()">Добавить тег</button>
                </div>
            </div>
        </div>
        
        <div class="w-full bg-white rounded-xl box_shadow hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Настройки:</h2>
            <div class="flex">
                <div class="flex flex-col gap-y-4">
                    <div class="flex items-center gap-x-4">
                        <input type="datetime-local" name="start_date" class="w-80 px-4 py-2 border-slate-200 border-2 rounded-lg" value="{{ current_contest.start_date.isoformat() }}">
                        <span class="w-60">Время начала (МСК)</span>
                    </div>
                    <div class="flex items-center gap-x-4">
                        <input type="datetime-local" name="end_date" class="w-80 px-4 py-2 border-slate-200 border-2 rounded-lg" value="{{ current_contest.end_date.isoformat() }}">
                        <span class="w-60">Время окончания (МСК)</span>
                    </div>
                    <label>
                        <input type="checkbox" name="is_rating_public" {% if current_contest.is_rating_public() %} checked {% endif %}
                        class="hidden" id="is-rating-public">
                        <span class="text-lg">
                            <span class="font-bold">Результаты проверки:</span>
                            {% if current_contest.is_rating_public() %}
                            <span class="text-green-600 cursor-pointer hover:underline" id="is-rating-public-span">
                                видны всем пользователям
                            </span>
                            {% else %}
                            <span class="text-slate-500 cursor-pointer hover:underline" id="is-rating-public-span">
                                видны только жюри контеста
                            </span>
                            {% endif %}
                        </span>
                    </label>
                    
                    <div class="flex flex-col gap-y-4">
                        <h3 class="text-black text-lg font-bold">Члены жюри:</h3>
                        <div class="flex flex-col {% if current_contest.get_judges() %} gap-y-4 {% endif %} mr-4">
                            <ul class="flex flex-col gap-y-2 " id="problems-list">
                                {% for judge in current_contest.get_judges() %}
                                <li class="flex w-full gap-x-2">
                                    <input type="text" name="judge_name"
                                        value="{{ judge.name }}" placeholder="Имя пользователя"
                                        class="input-judge-name text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">
                                        <button onclick="DeleteJudge(this)"
                                        class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
                                </li>
                                {% endfor %}
                            </ul>
                            <button onclick="event.preventDefault(); AddJudge(event)"
                            class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-green-600">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </form>
</div>

<script>
    var checkbox = document.getElementById("is-rating-public");
    checkbox.addEventListener("change", function (event) {
        var span = document.getElementById("is-rating-public-span");
        if (this.checked) {
            span.classList.remove("text-slate-500");
            span.classList.add("text-green-600");
            span.innerHTML = "видны всем пользователям";
        }
        else {
            span.classList.remove("text-green-600");
            span.classList.add("text-slate-500");
            span.innerHTML = "видны только жюри контеста";
        }
    });
</script>


<script>
    function BindProblemClick() {
        var inputs = document.querySelectorAll(".input-problem-hash");
        console.log(inputs);
        var display = document.querySelector("#display-problem");
        console.log("display", display);
        display.onerror = () => {
            console.log("error");
            this.classList.add("hidden");
            this.onerror = null;
        }
        
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("focus", function (event) {
                inputs.forEach((input) => {
                    input.classList.remove("border-black", "bg-slate-100");
                })
                this.classList.add("border-black", "bg-slate-100");
                var problem_hashed_id = this.value;
                const href = `${window.location.origin}/get_problem_content/${problem_hashed_id}`
                fetch(`${href}`).then(response => {
                    if (response.status == 200) return response.json();
                    else {
                        display.classList.remove("block");
                        display.classList.add("hidden");
                        throw new Error("Failed to fetch problem");
                    }
                }).then(json => {
                    console.log("OK RESPONDED");
                    function render() {
                        display.innerHTML = "";
                        var iframe = renderProblem("", json, ['statement'], "inplace", "display-problem");
                        display.appendChild(iframe);
                        console.log(iframe);
                        display.classList.remove("hidden");
                        display.classList.add("block");
                    }
                    renderAreas['display-problem'] = render;
                    render();
                });
            })
        }
    }
</script>


<script>
    BindProblemClick();
</script>



<script>
    function DeleteProblem(element) {
        let problemList = element.parentElement.parentElement;
        if (problemList.children.length == 1) {
            problemList.parentNode.classList.remove("gap-y-4");
        }
        element.parentElement.remove();
        for (var i = 0; i < problemList.children.length; i++) {
            problemList.children[i].children[0].innerHTML = `${i + 1}.`;
        }
    }
    function AddProblem(event) {
        let problemList = event.target.previousElementSibling;
        problemList.parentNode.classList.remove("gap-y-4");
        var child = document.createElement("li");
        child.classList.add("flex", "w-full", "gap-x-2", "items-center");
        child.innerHTML = `
        <span></span>
        <input type="text" name="problem_hash" value="" placeholder="Хеш задачи"
        class="input-problem-hash text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">

        <input type="number" name="max_score"
        value="7" placeholder="Балл"
        min="1" max="999"
        class="input-max-score text-lg text-slate-800 border-slate-200 border rounded-lg px-2 py-2">

        <button onclick="DeleteProblem(this)"
        class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
        `
        problemList.appendChild(child);
        problemList.parentNode.classList.add("gap-y-4");
        for (var i = 0; i < problemList.children.length; i++) {
            console.log(problemList.children[i].children[0]);
            problemList.children[i].children[0].innerHTML = `${i + 1}.`;
        }
        BindProblemClick();
    }
</script>

<script>
    function DeleteJudge(element) {
        let judgeList = element.parentElement.parentElement;
        if (judgeList.children.length == 1) {
            judgeList.parentNode.classList.remove("gap-y-4");
        }
        element.parentElement.remove();
    }
    function AddJudge(event) {
        let judgeList = event.target.previousElementSibling;
        judgeList.parentNode.classList.remove("gap-y-4");
        var child = document.createElement("li");
        child.classList.add("flex", "w-full", "gap-x-2");
        child.innerHTML = `
        <input type="text" name="judge_name"
        value="" placeholder="Имя пользователя"
        class="input-judge-name text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">
        <button onclick="DeleteJudge(this)"
        class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
        `
        judgeList.appendChild(child);
        judgeList.parentNode.classList.add("gap-y-4");
    }
</script>


<script>
    function AddTag() {

        let tag = document.getElementById("addtag");
        let tag_name = prevent_injection(tag.value);
        tag.value = "";

        let tags_list = document.getElementById("tas_list");

        tags_list.appendChild(document.createElement("li"));
        let child = tags_list.lastChild;

        child.classList = "flex";


        child.innerHTML = `<input type="hidden" name="tag ${tag_name}" value="${tag_name}">
        <span class="text-slate-500 font-bold mr-4">#</span>
        <div class="w-2/3"><span>${tag_name}</span></div>
        <span class="text-slate-500 font-bold mx-4">|</span>
        <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-red-600" onclick="DeleteTag(this)">Удалить тег</button>`

    }
</script>

<script>
    function DeleteTag(element) {
        element.parentElement.remove();
    }
</script>

<script>
    const start_date = new Date('{{ current_contest.start_date }}');
    const end_date = new Date('{{ current_contest.end_date }}');
    var moscowUTC = 3;
    function f() {
        now = current_time(moscowUTC);
        console.log(now);
        let is_started = (now >= start_date);
        let is_ended = (now >= end_date);
        if (is_ended) {
            document.getElementById("contest-state-span").innerHTML = "Завершён";
            var timer_div = document.getElementById("timer-div");
            timer_div.classList.remove("block");
            timer_div.classList.add("hidden");
            clearInterval();
        }
        else if (is_started) {
            document.getElementById("contest-state-span").innerHTML = "Идёт...";
            var timer_div = document.getElementById("timer-div");
            var timer_span_text = document.getElementById("timer-span-text");
            var timer_span_clock = document.getElementById("timer-span-clock");
            timer_div.classList.remove("hidden");
            timer_div.classList.add("block");
            timer_span_text.innerHTML = "До завершения:";
            let hms = diff_in_hms(now, end_date);
            timer_span_clock.innerHTML = `${hms["hours"]}:${hms["minutes"]}:${hms["seconds"]}`;
        }
        else {
            document.getElementById("contest-state-span").innerHTML = "Не начался";
            var timer_div = document.getElementById("timer-div");
            timer_div.classList.remove("hidden");
            timer_div.classList.add("block");
            var timer_span_text = document.getElementById("timer-span-text");
            var timer_span_clock = document.getElementById("timer-span-clock");
            timer_span_text.innerHTML = "До начала:";
            let hms = diff_in_hms(now, start_date);
            timer_span_clock.innerHTML = `${hms["hours"]}:${hms["minutes"]}:${hms["seconds"]}`;
        }
    }
    f();
    var timer = setInterval(f, 1000);
</script>

<script>
    var flash_message = document.getElementById("flash-message");
    if (flash_message) {
        fade(flash_message, 3000);
    }
</script>

<script>
    autocomplete(document.getElementById("addtag"), {"obj": "tags"});
</script>

{% endblock %}