<ul class="list-none p-0 border-4 border-solid border-sky-400 rounded-lg">
    {% for problem in current_pool.problems %}


    <li class="border-b border-slate-200 bg-white p-4 flex flex-col first:rounded-t-lg last:rounded-b-lg hover:bg-slate-100">
        <div class="flex justify-between">
            <div>
                <div class="flex flex-row">
                <a href="/pool/{{ current_pool.hashed_id }}/problem/{{ problem.hashed_id }}" class="no-underline text-black text-xl hover:underline">{{ problem.name }}</a>
                {% if problem.is_public and not problem.moderated %}
                <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
                <span class="no-underline text-black text-xl">Задача уже на модерации</span>

                {% elif problem.is_public and problem.moderated %}
                <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
                <span class="no-underline text-black text-xl">Задача в архиве</span>
                {% endif %}
                </div>
            </div>
            <button class="border-0 bg-transparent cursor-pointer" onclick="remove_problem('{{ current_pool.hashed_id }}', '{{ problem.hashed_id }}')"><img class="w-6 border-0" src="/static/images/bin.png" alt="bin"></button>
        </div>
    </li>
    {% endfor %}
</ul>