{% extends "pool/pool_header.html" %}
{% block pool_body %}
<div class="w-full bg-white rounded-xl box_shadow p-8">
<script>
    var element = document.getElementById("problems_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>


<div class="flex justify-between">
    <span class="text-2xl font-bold text-blue-800">Задачи</span>
    <form action="/pool/{{ current_pool.hashed_id }}/new_problem" method="post">
        <input type="submit" class="hover:cursor-pointer px-12 py-3 rounded-md text-md text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700" value="Новая задача">
    </form>
</div>


<script>
    function remove_problem(pool, problem) {
        var data = {'pool' : pool, 'problem' : problem};
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/remove_problem_from_pool', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("pool_problemlist").innerHTML = this.responseText;
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"pool_problemlist"]);
                }
            }
        xhr.send(JSON.stringify(data));
    }
</script>

<div id="pool_problemlist">
{% include "pool/pool_problemlist.html" %}
</div>
</div>
{% endblock %}