{% if current_pool.sheets %}
<ul class="list-none p-0 border-4 border-solid border-sky-400 rounded-lg">
    {% for sheet in current_pool.sheets %}
    <li class="border-b border-slate-200 bg-white p-4 flex flex-col first:rounded-t-lg last:rounded-b-lg hover:bg-slate-100">
        <div class="flex justify-between">
            <div>
                <div class="flex flex-row">
                <a href="/pool/{{ current_pool.hashed_id }}/sheet/{{ sheet.id }}" class="no-underline text-black text-2xl font-bold hover:underline">{{ sheet.name }}</a>

                {% if sheet.is_public %}
                <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
                <a href="/archive/sheet/{{ sheet.id }}" class="hover:underline">
                <span class="no-underline text-black text-xl">Подборка в архиве</span>
                </a>
                {% endif %}
                </div>
            </div>
            <button class="border-0 bg-transparent cursor-pointer" onclick="remove_sheet('{{ current_pool.hashed_id }}', '{{ sheet.id }}')"><img class="w-6 border-0" src="/static/images/bin.png" alt="bin"></button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}