{% extends "pool/pool_header.html" %}
{% block pool_body %}

{% if current_user.get_pool_relation(current_pool.id).role.isOwner() %}
<div class="flex justify-between">
    {% if current_problem.is_public %}
    <div class="flex flex-row items-center">
        <a href="/archive/problem/{{ current_problem.hashed_id }}" class="text-green-600 font-bold text-xl hover:underline">
            <h3>Задача опубликована</h3>
        </a>
        <span class="text-slate-500 font-bold mx-4 text-xl">|</span>
        <form action="/pool/{{ current_pool.hashed_id }}/problems" method="post">
            <input type="hidden" name="back_to_pool" value="{{ current_pool.hashed_id }}">
            <input type="hidden" name="problem_hashed_id" value="{{ current_problem.hashed_id }}">
            <input type="submit" value="Вернуть на доработку?"
                class="hover:font-bold hover:cursor-pointer hover:text-blue-600 text-xl">
        </form>
    </div>
    {% endif %}
    {% if not current_problem.is_public %}
    <form action="/archive/publish/problem/{{current_problem.hashed_id}}" method="post"
        class="w-full flex flex-row justify-end">
        <input type="submit"
            class="hover:cursor-pointer px-12 py-2 rounded-xl text-lg text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700"
            value="Опубликовать в архив">
    </form>
    {% endif %}
</div>

{% if current_problem.is_public %}
<div class="h-px w-full bg-neutral-300 my-2"></div>
{% endif %}

{% endif %}


<div class="flex flex-col">
    <form autocomplete="off" action="/pool/{{ current_pool.hashed_id }}/problem/{{ current_problem.hashed_id }}"
        method="post" class="w-full mt-2 px-4 flex flex-col gap-y-4" enctype="multipart/form-data">
        <input type="hidden" name="save_problem" value="239">

        <div class="flex flex-row items-center w-full gap-x-4">
            <div class="flex flex-row items-center">
                <span class="text-2xl font-bold">{{ current_problem.name }}</span>
            </div>
            <input type="submit" value="Сохранить"
                class="hover:cursor-pointer px-8 py-2 rounded-md text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700">
        </div>

        <div class="w-full bg-white rounded-xl shadow-md hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Название:</h2>
            <div class="flex w-full">
                <textarea rows="1" cols="50" name="name" class="text-lg w-full p-4 border-slate-200 border-2 rounded-lg" {%
                    if current_problem.is_public %} readonly {% endif %}>{{ current_problem.name }}</textarea>
            </div>
        </div>

        <div class="w-full bg-white rounded-xl shadow-md hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Условие:</h2>
            <div class="flex w-full items-start">
                <textarea id="statement_textarea" cols="50" name="statement" {% if current_problem.is_public %} readonly {%
                    endif %}
                    class="w-1/2 p-4 border-slate-200 border-2 rounded-lg">{{ current_problem.statement }}</textarea>
            </div>
        </div>

        <script>
            makeLaTeXArea("statement_textarea", "problem");
        </script>

        <div class="w-full bg-white rounded-xl shadow-md hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Решение:</h2>
            <div class="flex w-full items-start">
                <textarea id="solution_textarea" cols="50" name="solution" {% if current_problem.is_public %} readonly {%
                    endif %}
                    class="w-1/2 p-4 border-slate-200 border-2 rounded-lg">{{ current_problem.solution }}</textarea>
            </div>
        </div>

        <script>
            makeLaTeXArea("solution_textarea", "problem");
        </script>

        <div class="w-full bg-white rounded-xl shadow-md hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Теги:</h2>
            <div class="flex gap-x-8 items-start">
                <ul class="w-full" id="tas_list">
                    {% for tag in current_problem.get_tags() %}
                    <li class="flex">
                        <input type="hidden" name="tag {{ tag.name }}" value="{{ tag.name }}">
                        <span class="text-slate-500 font-bold mr-4">#</span>
                        <div class="w-2/3"><span>{{ tag.name }}</span></div>
                        <span class="text-slate-500 font-bold mx-4">|</span>
                        <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-red-600"
                            onclick="DeleteTag(this)">Удалить тег</button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="flex w-full">
                    <span class="text-slate-500 font-bold mr-4">#</span>
                    <div class="w-2/3 relative inline-block">
                        <input id="addtag" type="text" placeholder="Введите тег" name="tag_name"
                            class="w-full border-slate-400 border-2 rounded px-2">
                    </div>
                    <span class="text-slate-700 font-bold mx-4">|</span>
                    <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-green-600"
                        onclick="AddTag()">Добавить тег</button>
                </div>
            </div>
        </div>

        
        <div class="w-full bg-white rounded-xl shadow-md hover:shadow-lg p-8">
            <h2 class="text-slate-500 font-bold text-xl ml-2 mb-2">Вложения:</h2>
            <div class="flex">
                <div class="border-r-2 border-slate-300 w-1/3">
                    <div class="flex flex-col {% if current_problem.get_attachments() %} gap-y-4 {% endif %} mr-4">
                        <ul class="flex flex-col gap-y-2" id="files-list">
                            {% for attachment in current_problem.get_attachments() %}
                            <li class="flex w-full gap-x-2">
                                <input type="text" name="attachment_name {{ attachment.db_filename }}"
                                    id="attachment-name-{{ attachment.db_filename }}" value="{{ attachment.short_name }}"
                                    placeholder="Как назвать картинку?" {% if current_problem.is_public %} readonly {% endif
                                    %}
                                    class="input-attachment-name text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">

                                <label class="relative flex items-center">
                                    {% if attachment.other_data["is_secret"] %}
                                    <input type="checkbox" name="attachment_is_secret {{ attachment.db_filename }}"
                                        id="attachment-is-secret-{{ attachment.db_filename }}" checked
                                        class="checkbox-attachment-secret hidden">
                                    <span class="text-red-600 peer hover:cursor-help w-32 text-center">Секретное</span>
                                    {% else %}
                                    <input type="checkbox" name="attachment_is_secret {{ attachment.db_filename }}"
                                        id="attachment-is-secret-{{ attachment.db_filename }}"
                                        class="checkbox-attachment-secret hidden">
                                    <span class="text-green-500 peer hover:cursor-help w-32 text-center">Публичное</span>
                                    {% endif %}
                                    <div
                                        class="absolute top-12 hidden peer-hover:flex p-4 border-2 rounded-md bg-white border-black flex-col z-50">
                                        <span class="whitespace-nowrap"><span class="text-green-600">Публичное</span>
                                            вложение доступно всем пользователям</span>
                                        <span class="whitespace-nowrap"><span class="text-red-600">Секретное</span> вложение
                                            доступно пользователям, имеющим доступ к решению</span>
                                    </div>
                                </label>


                                {% if not current_problem.is_public %}
                                <button onclick="DeleteAttachment(this)"
                                    class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        <div
                            class="border-2 border-blue-500 border-dashed px-8 py-4 rounded-xl flex justify-center {% if current_problem.is_public %} hidden {% endif %}">
                            <label class="label text-lg">
                                <input type="file" class="file-input w-0 h-0" name="attachments" accept="image/*" multiple
                                    {% if current_problem.is_public %} readonly {% endif %}>
                                {% if not current_problem.is_public %}
                                <span class="browse-files-text text-blue-500 font-semibold cursor-pointer inline-block"
                                    onclick="ResetFileInput()">Загрузить файлы</span>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="w-1/3 ml-4">
                    <img id="display-attachment" class="hidden border-2 border-sky-400 padding-8 rounded-xl">
                </div>
            </div>
        </div>


        
    </form>




</div>

<script>
    var span = document.getElementById("copy_hash_span");
    span.addEventListener("click", function () {
        navigator.clipboard.writeText(this.innerText);
        var flash = document.getElementById("fading_flash");
        fade(flash, 1000);
    })
</script>

<script>
    function BindAttachmentClick() {
        var inputs = document.querySelectorAll(".input-attachment-name");
        console.log(inputs);
        var display = document.querySelector("#display-attachment");
        display.onerror = () => {
            console.log("error");
            this.classList.add("hidden");
            this.onerror = null;
        }

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("focus", function (event) {
                inputs.forEach((input) => {
                    input.classList.remove("border-black", "bg-slate-100");
                })
                this.classList.add("border-black", "bg-slate-100");
                var db_filename = this.id.split("attachment-name-")[1];
                display.src = `/get_image/${db_filename}`;
                display.classList.remove("hidden");
                display.classList.add("block");
            })
        }

        var checkboxes = document.querySelectorAll(".checkbox-attachment-secret");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener("change", function (event) {
                if (this.checked) {
                    var span = this.nextElementSibling;
                    span.classList.remove("text-green-600");
                    span.classList.add("text-red-600");
                    span.innerHTML = "Секретное";
                }
                else {
                    var span = this.nextElementSibling;
                    span.classList.remove("text-red-600");
                    span.classList.add("text-green-600");
                    span.innerHTML = "Публичное";
                }
            })
        }
    }
</script>

<script>
    let fileInput = document.querySelector(".file-input");
    let filesList = document.getElementById("files-list");
    fileInput.addEventListener("change", function (event) {
        for (let i = 0; i < this.files.length; i++) {

            const Data = new FormData();
            Data.append("file", this.files[i]);
            Data.append("name", this.files[i].name);
            Data.append("type", this.files[i].type);
            Data.append("size", this.files[i].size);

            fetch(`${window.location.href}/upload_file`, {
                method: "POST",
                body: Data
            }).then((response) => {
                if (response.status == 200) {
                    return response.text();
                } else {
                    throw new Error("Bad file");
                }
            }).then(result => {
                if (result[0] == "O" && result[1] == "K") {
                    var attachment_db_filename = result.slice(3);
                    filesList.innerHTML += `
                        <li class="flex w-full gap-x-2">
                            <input type="text" name="attachment_name ${attachment_db_filename}" id="attachment-name-${attachment_db_filename}"
                            value="Рисунок" placeholder="Как назвать картинку?"
                            class="input-attachment-name text-lg text-slate-800 border-slate-200 border rounded-lg px-2 grow py-2">

                            <label class="relative flex items-center">
                                <input type="checkbox" name="attachment_is_secret ${attachment_db_filename}" id="attachment-is-secret-${attachment_db_filename}" checked
                                class="checkbox-attachment-secret hidden">
                                <span class="text-red-600 peer hover:cursor-help w-32 text-center">Секретное</span>
                                <div class="absolute top-12 hidden peer-hover:flex p-4 border-2 rounded-md bg-white border-black flex-col z-50">
                                    <span class="whitespace-nowrap"><span class="text-green-600">Публичное</span> вложение доступно всем пользователям</span>
                                    <span class="whitespace-nowrap"><span class="text-red-600">Секретное</span> вложение доступно пользователям, имеющим доступ к решению</span>
                                </div>
                            </label>

                            <button onclick="DeleteAttachment(this)"
                            class="text-lg border-slate-200 border bg-slate-50 hover:bg-slate-100 hover:cursor-pointer px-4 py-2 rounded-lg text-red-600">Удалить</button>
                        </li>
                        `
                    BindAttachmentClick();
                    filesList.parentNode.classList.add("gap-y-4");
                }
            }
            );
        }
    })
</script>




<script>
    BindAttachmentClick();
</script>


<script>
    function DeleteAttachment(element) {
        let filesList = element.parentElement.parentElement;
        if (filesList.children.length == 1) {
            filesList.parentNode.classList.remove("gap-y-4");
        }
        element.parentElement.remove();
    }
    function ResetFileInput() {
        let fileInput = document.querySelector(".file-input");
        fileInput.value = "";
        fileInput.type = "";
        fileInput.type = "file";

        let filesList = element.parentElement.parentElement;
        filesList.parentNode.classList.remove("gap-y-4");
    }
</script>



<script>
    function AddTag() {

        let tag = document.getElementById("addtag");
        let tag_name = prevent_injection(tag.value);
        tag.value = "";

        let tags_list = document.getElementById("tas_list");

        tags_list.appendChild(document.createElement("li"));
        let child = tags_list.lastChild;

        child.classList = "flex";


        child.innerHTML = `<input type="hidden" name="tag ${tag_name}" value="${tag_name}">
        <span class="text-slate-500 font-bold mr-4">#</span>
        <div class="w-2/3"><span>${tag_name}</span></div>
        <span class="text-slate-500 font-bold mx-4">|</span>
        <button type="button" class="hover:font-bold hover:cursor-pointer hover:text-red-600" onclick="DeleteTag(this)">Удалить тег</button>`

    }
</script>

<script>
    function DeleteTag(element) {
        element.parentElement.remove();
    }
</script>

<script>
    var flash_message = document.getElementById("flash-message");
    if (flash_message) {
        fade(flash_message, 3000);
    }
</script>

<script>
    autocomplete(document.getElementById("addtag"), {"obj": "tags"});
</script>

{% endblock %}