{% extends "base.html" %}
{% block content %}
<style>
    .main_div {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .create_form {
        width: 50%;
        border: 2px solid var(--blue);
        border-radius: 10px;
        
        background-color: var(--white);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    .greeting {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .input_form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }
    .input_field_name {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .input_field {
        height: 100%;
        width: 80%;
        font-size: 25px;
        background-color: var(--light-gray);
        border: 2px solid var(--medium-gray);
        border-radius: 5px;
        padding: 5px;
    }
    .submit_button {
        width: 55%;
        height: 50px;
        margin-top: 20px;
        border: 0;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        color: var(--white);
        background-color: var(--dark-green);
        cursor: pointer;
    }
</style>
<div class="flex flex-col items-center">
    <form class="border-2 border-solid border-sky-400 rounded-lg text-stone-800 bg-white flex flex-col items-center p-4 mt-24 w-1/2 min-w-fit form-anticlear" action="/pool/create" method="POST">
        <div class="flex flex-col items-center">
            <div class="text-xl font-bold">Работай над задачами в команде!</div>
            <div class="text-base font-light">Создание пула</div>
        </div>
        <div class="flex flex-col w-full gap-y-4 my-4">
            <div class="flex flex-col">
                <span class="text-xl">Название</span>
                <input type="text" id="name" name="name" class="text-2xl bg-neutral-100 border-2 border-solid border-neutral-300 rounded-md p-2" required >
            </div>
        </div>
        <input class="hover: cursor-pointer px-16 py-4 rounded-xl text-lg text-white font-semibold bg-green-500 hover:bg-green-600 active:bg-green-700" type="submit" value="Создать">
    </form>
</div>
{% endblock %}