<ul class="list-none p-0 mt-4">
    {% for problem in problems %}

    {% with textcolor='text-white' %}
    {% if problem[1] >= 0.9*problem[2] %}
        {% set bgcolor = 'text-green-500' %}
    {% elif problem[1] >= 0.75*problem[2] %}
        {% set bgcolor = 'text-lime-500' %}
    {% elif problem[1] >= 0.5*problem[2] %}
        {% set bgcolor = 'text-yellow-500' %}
    {% elif problem[1] >= 0.25*problem[2] %}
        {% set bgcolor = 'text-orange-500' %}
    {% else %}
        {% set bgcolor = 'text-red-500' %}
    {% endif %}
    {% with perc=0 %}
    {% if problem[2] == 0 %}
        {% set perc = 100 %}
    {% else %}
        {% set perc = (100*problem[1]/problem[2])|round|int %}
    {% endif %}



    <li class="border-2 border-solid border-slate-200 bg-white mb-4 p-4 flex flex-row gap-x-8 items-center rounded-lg hover:border-slate-600">
        <div class="no-underline text-black text-xl hover:underline" onclick="ShowButton(this);">
            <span class="text-black text-xl">{{ problem[0].name }}</span>
            {% if problem[0].new_pool_id is None %}
            <form class="flex w-full hidden" action="/pool/{{ pool.hashed_id }}/give_problem" method="POST">
                <button type="submit" class="hover:font-bold hover:cursor-pointer hover:text-green-600">
                    Отправить в пул
                </button>
                <input type="hidden" value="{{problem[0].id}}" name="problem_id">
            </form>
            {% else %}
            <form class="flex w-full hidden" action="/pool/{{ pool.hashed_id }}/give_problem" method="POST">
                <button type="submit" class="hover:font-bold hover:cursor-pointer hover:text-green-600">
                    Отозвать задачу
                </button>
                <input type="hidden" value="{{ problem[0].id }}" name="return_problem_id">
            </form>
            {% endif %}
        </div>

        <span>Совпадение: <span class="text-bold {{bgcolor}}">{{ perc }}%</span></span>
        {% if not problem[0].moderated %}
            <span class="text-stone-800 flex grow justify-end items-center"> (на модерации) </span>
        {% endif %}

        {% if problem[0].new_pool_id == pool.id %}
        <div class="flex flex-row justify-end"> <span class="text-black text-l">> Задача на рассмотрении </span> </div>
        {% endif %}
    </li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>

<script>
    function ShowButton()
{
    var form = this.children[1];
    if (form.classList.includes("hidden")) {
        form.classList.remove("hidden");
    } else {
        form.classList.add("hidden");
    }
}
</script>