<div id="table_of_collaborators">
    <table class="border-collapse border-2 border-solid border-sky-400 w-full h-full">
        <tbody>
            <tr class="odd:bg-white even:bg-neutral-100 hover:bg-neutral-200">
                <th class="text-xl py-2 px-8 w-1/2">Пользователь</th>
                <th class="text-xl py-2 px-8 w-1/2">Роль</th>
            </tr>
            {% for userpool in current_pool.get_users() %}
            <tr class="odd:bg-white even:bg-neutral-100 hover:bg-neutral-200">
                <td class="p-2">
                    <span>{{ userpool.user.name }}</span>
                </td>
                <td class="p-2">
                    <details>
                        {% if userpool.role.is_owner() %}
                            <summary class="font-bold text-amber-500">
                                <span>Владелец</span>
                            </summary>
                            <div class="h-px w-full bg-gray-500 mb-4 mt-2"></div>
                            <form action="/pool/{{ current_pool.hashed_id }}/management/collaborators" method="POST">
                                <input type="hidden" name="downgrade_to_participant" value="{{ userpool.user.id }}">
                                <input type="submit" value="Понизить до участника" class="font-bold hover:text-red-500 hover:cursor-pointer">
                            </form>

                        {% elif userpool.role.isParticipant() %} 
                            <summary class="font-bold text-purple-500">
                                <span>Участник</span>
                            </summary>
                            <div class="h-px w-full bg-gray-500 mb-4 mt-2"></div>
                            <form action="/pool/{{ current_pool.hashed_id }}/management/collaborators" method="POST">
                                <input type="hidden" name="upgrade_to_owner" value="{{ userpool.user.id }}">
                                <input type="submit" value="Повысить до владельца" class="font-bold hover:text-green-500 hover:cursor-pointer">
                            </form>
                            <form action="/pool/{{ current_pool.hashed_id }}/management/collaborators" method="POST">
                                <input type="hidden" name="remove_participant" value="{{ userpool.user.id }}">
                                <input type="submit" value="Удалить из пула" class="font-bold hover:text-red-500 hover:cursor-pointer">
                            </form>

                        {% elif userpool.role.isInvited() %}
                            <summary class="font-bold text-teal-500">
                                <span>Приглашённый</span>
                            </summary>
                            <div class="h-px w-full bg-gray-500 mb-4 mt-2"></div>
                            <form action="/pool/{{ current_pool.hashed_id }}/management/collaborators" method="POST">
                                <input type="hidden" name="remove_participant" value="{{ userpool.user.id }}">
                                <input type="submit" value="Отменить приглашение" class="font-bold hover:text-red-500 hover:cursor-pointer">
                            </form>
                        {% endif %}
                    </details>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>