{% extends "chat/chat_1chat.html" %}
{% block body %}
<script>
    var element = document.getElementById("participants_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>


<div class="flex justify-between">

    {% include "chat/chat_participants_table.html" %}
    <form action="/chat/{{ chat.hashed_id }}/participants" method="POST">
        <input type="hidden" name="leave_chat" value="Hm, Value">
        <input class="hover: cursor-pointer px-12 py-3 rounded-xl text-lg text-white font-semibold bg-red-400 hover:bg-red-500 active:bg-red-600" type="submit" value="Выйти из чата">
    </form>

</div>

{% endblock %}