{% extends "chat/chat_management.html" %}
{% block chat_settings %}

<script>
    var element = document.getElementById("management_collaborators_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>

<section>
    <h1 class="text-2xl text-stone-800 font-medium">Управление доступом</h1>
    <div class="h-px w-full bg-neutral-300 mt-2 mb-4"></div>
    <h2 class="text-lg text-stone-800 font-semibold">Кто может отправлять сообщения в чат?</h2>
    <label>
        <input type="checkbox" id="toggle-access-checkbox" {% if chat.readonly %} checked {% endif %} class="hidden">
        <span id="toggle-access-span" class="text-lg cursor-pointer"></span>
    </label>
</section>


<script>
    function syncSpan() {
        var checkbox = document.getElementById("toggle-access-checkbox");
        var span = document.getElementById("toggle-access-span");
        if (checkbox.checked) {
            span.innerHTML = "Только <span class='text-amber-500'>Владельцы</span>";
        }
        else {
            span.innerHTML = "<span class='text-amber-500'>Владельцы</span> и <span class='text-purple-500'>Участники</span>";
        }
    }
    syncSpan();
</script>

<script>
    var element = document.getElementById("toggle-access-checkbox");
    element.addEventListener("change", function() {
        const XHR = new XMLHttpRequest();
        const FD = new FormData();

        FD.append("toggle_access", this.checked);
        XHR.open("POST", "/chat/{{ chat.hashed_id }}/management/collaborators");
        XHR.send(FD);
        syncSpan();
    })
</script>
{% endblock %}