<table class="table1" cellpadding="0" cellspacing="0">
    <tr>
        <th>Пользователь</th>
        <th>Роль</th>
    </tr>
    {% for user_chat in chat.user_chats %}
    <tr>
        <td class="hover:underline">
            <a href="/profile/user/{{ user_chat.user.name }}"
            class="block">{{ user_chat.user.name }}</a>
        </td>
        <td>
            {% if user_chat.role.isOwner() %}
            <span class="font-bold text-amber-500">Владелец</span>
            {% else %}
            <span class="font-bold text-purple-500">Участник</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
