/* || RESET */

/* || VARIABLES */
:root {
    --color-bg-white: #ffffff;
    --color-bg-default: #f4f4f4;
    
    --color-table-light: #f4f4f4;
    --color-table-dark: #e2e2e2;

    --color-link-gray-hover: #d3d3d3;

    --color-text-default-dark: #0a0c10;
    --color-text-default-light: #ffffff;
    --color-text-default-blue: #46b2fa;

    --color-topnav-blue: #46b2fa;
    --color-topnav-blue-link-hover: #c4d3ff;
    --color-topnav-blue-link-active: #c4d3ff;
    --color-topnav-blue-link-current: #368dff;

    --color-border-gray: #cccccc;
    --color-border-blue: #46b2fa;
    --color-border-green: #1eac25;

    --color-button-green: #30974d;
    --color-button-green-hover: #2b813c;
    --color-button-green-active: #277236;

    --color-button-red: #bb0b2e;
    --color-button-red-hover: #9e0927;
    --color-button-red-active: #850720;

    --color-button-blue: #46b2fa;
    --color-button-blue-hover: #368dff;
    --color-button-blue-active: #157aff;

    --color-notification-success: #22cf2a;
    --color-notification-success-border: #1cb023;
    --color-notification-warning: #ffc400;
    --color-notification-warning-border: #cc9c00;
    --color-notification-danger: #ff3860;
    --color-notification-danger-border: #cc0029;

    --color-pool-owner: #ff8c00;
    --color-pool-participant: #0000ff;
    --color-pool-invited: #03a89e;
    --color-pool-accept-invitation: #008000;
    --color-pool-decline-invitation: #ff0000;
    --color-pool-accepted: #0000ff;
}

/* || GENERAL STYLES */
html {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
}
