textarea {
    resize: none;
    white-space: nowrap;
    overflow-x:auto;
}

code::-webkit-scrollbar {
    display: none;
}

pre::-webkit-scrollbar {
    display: none;
}

/*code, pre {
    white-space: normal;
    word-break: break-word;
}*/

.my_file_input {
    width: 0.1;
    height: 0.1;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none;
}

.label_for_file {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #333;
    color: #333;
}

.label_for_file:hover {
    color: white;
    background: #333;
}