textarea {
    resize: none;
    white-space: nowrap;
    overflow-x:auto;
}

code::-webkit-scrollbar {
    display: none;
}

pre::-webkit-scrollbar {
    display: none;
}

/*code, pre {
    white-space: normal;
    word-break: break-word;
}*/

.my_file_input {
    width: 0.1;
    height: 0.1;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none;
}

.label_for_file {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #333;
    color: #333;
}

.label_for_file:hover {
    color: white;
    background: #333;
}

.table1 {
    text-align: center;
    border-collapse: separate;
}

.table1 tr:first-child {
    background-color: rgb(229, 229, 229);
}

.table1 tr:first-child th, .table1 tr:first-child td {
    border-top-width: 1px;
    border-color: black;
}

.table1 tr th:first-child, .table1 tr td:first-child {
    border-left-width: 1px;
    border-color: black;
}

.table1 tr th, .table1 tr td {
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: black;
    padding: 0.5rem 1rem;
}

.table1 tr:first-child th:first-child, .table1 tr:first-child td:first-child {
    border-top-left-radius: 0.5rem;
}

.table1 tr:first-child th:last-child, .table1 tr:first-child td:last-child {
    border-top-right-radius: 0.5rem;
}

.table1 tr:last-child th:first-child, .table1 tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

.table1 tr:last-child th:last-child, .table1 tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}

.box_shadow {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
.box_shadow:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
textarea, pre, .noscrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}