{% extends "admin/admin_header.html" %}
{% block admin_panel_body %}

<script>
    var element = document.getElementById("databse_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>

<div class="flex flex-col gap-y-8 mt-8">
    {% for tb in tables %}
    <div class="h-120 w-full overflow-y-auto">
        <strong class="text-2xl">{{ tb[0][0][1] }}</strong>
        {% if tb[1:] %}
            <table class="w-full rounded-md bg-white border-2 border-sky-400 border-separate", cellpadding="0", cellspacing="0">
                <tr>
                    {% for colname in tb[1][1:] %}
                    <th class="py-2 px-8 border-r-2 last:border-r-0">{{ colname[0] }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
                {% for elem in tb[1:] %}
                <tr>
                    {% for colname in elem[1:] %}
                    <td class="py-2 px-8 border-r-2 last:border-r-0">{{ colname[1] }}</td>
                    {% endfor %}
                    <td>
                        <form action="/admin/database", method="POST">
                            <input type="hidden" name="class_name" value="{{ tb[0][0][1] }}">
                            <input type="hidden" name="id" value="{{ elem[1][1] }}">
                            <input type="submit" value="Удалить" class="hover: cursor-pointer hover:text-red-500">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}