{% extends "base.html" %}
{% block content %}


<form autocomplete="off" class="w-full mt-2 px-4" enctype="multipart/form-data">
    <div class="hover:cursor-pointer px-12 py-2 rounded-xl text-lg text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700" onclick="switchMode()">
        Переключиться в текстовый режим
    </div>
    <div class="flex w-full">
        <textarea id="solution_textarea" rows="10" cols="50" name="solution" class="text-lg w-1/2 p-4 border-slate-200 border-2 rounded-lg"
            oninput="RenderSolution();"></textarea>
        <div id="solution_latex_output"
            class="text-lg ml-4 p-4 bg-white border-2 border-solid border-sky-400 rounded-lg w-1/2">
        </div>
    </div>
</form>

<script>
    function RenderSolution() {
        const solution_textarea = document.getElementById("solution_textarea");
        const solution_latex_output = document.getElementById("solution_latex_output");

        solution_latex_output.innerHTML = solution_textarea.value;

        renderBlocks(solution_latex_output, "Show");
    }
</script>

{% endblock %}
