<script>
    function remove_email(username, email) {
        var data = {'username' : username, 'email' : email};
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/remove_email', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("emails_block").innerHTML = this.responseText;
            }
        };
        xhr.send(JSON.stringify(data));
    }

    function add_email() {
        var username = '{{ current_user.name }}';
        var email = document.getElementById("add_email_input").value;
        var data = {'username' : username, 'email' : email};
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/add_email', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("emails_block").innerHTML = this.responseText;
            }
        };
        xhr.send(JSON.stringify(data));
    }
</script>

<h2>список почт для дебага:</h2>
{% for email in current_user.emails %}
<br>
<h2>id={{ email.id }}, name={{ email.name }}, verified={{ email.verified }}, token={{ email.token }}</h2>
<button onclick="remove_email('{{ current_user.name }}', '{{ email.name }}')">Удалить почту {{ email.name }}</button>
{% endfor %}

<style>
.add_email_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}
.input_form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;
}
.input_field_name {
    margin-bottom: 10px;
    font-size: 20px;
}
.input_field {
    height: 100%;
    width: 80%;
    font-size: 25px;
    background-color:#f4f4f4;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}
.add_email_button {
        width: 55%;
        height: 50px;
        margin-top: 20px;
        border: 0;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        color: rgb(255,255,255);
        background-image: radial-gradient(rgb(137, 196, 238), rgb(70, 178, 250));
        cursor: pointer;
    }
</style>

<form class="add_email_form" action="javascript:add_email();">
    <div class="input_form">
        <div class="input_field_name">Добавить почту:</div>
        <input type="text" id="add_email_input" class="input_field" required>
    </div>
    <input class="add_email_button" type="submit" value="Добавить">
</form>