{% extends "contest/contest_header.html" %}
{% block contest_body %}
<script>
    var element = document.getElementById("rating_href");
    element.classList.remove("text-stone-800");
    element.classList.add("text-blue-600");
</script>
<div id="for tailwind"
class="hidden bg-slate-200 hover:bg-slate-300 bg-green-200 hover:bg-green-300
bg-lime-200 hover:bg-lime-300 bg-yellow-200 hover:bg-yellow-300 bg-orange-200 hover:bg-orange-300 bg-red-200 hover:bg-red-300
bg-sky-400 !bg-sky-400
absolute z-50 top-full inset-x-0 overflow-y-auto h-60 bg-neutral-200 max-h-60 last:border-b-0 hover:bg-gray-100
after:content-none after:absolute rounded-tl-lg rounded-tr-lg rounded-bl-lg
rounded-tl-full rounded-tr-full rounded-bl-full w-fit text-xs"></div>

<div class="flex justify-between">
    <table class="border-collapse" cellspacing="0" cellpadding="0">
        <tr>
            <th class="pb-2 px-4">Участник</th>
            <th class="pb-2 px-4">Старт (МСК)</th>
            <th class="pb-2 px-4">Финиш (МСК)</th>
            {% for problem in current_contest.get_nonsecret_problems() %}
            <th class="w-12 pb-2 px-4">
                <a id="problem_href-{{problem.hashed_id}}" href="/contest/{{ current_contest.id }}/problem/{{ problem.hashed_id }}"
                class="block hover:underline">
                    <span>{{ loop.index }}</span>
                </a>
            </th>
            {% endfor %}
            <th class="pb-2 px-4">Σ</th>
            <th class="pb-2 px-4">№</th>
        </tr>
        {% for tr in rating_table %}
        <tr class="h-12">
            {% set cu = tr[0] %}
            <td class="py-2 px-4 border-r border-black text-center">
                <a href="/profile/user/{{ cu.user.name }}" class="hover:underline">
                {{ cu.user.name }}
                {% if cu.virtual %} (В) {% endif %}
                </a>
            </td>
            <td class="py-2 px-4 border-r border-black text-center">
                {{ str_from_dt(cu.start_date, "seconds") }}
            </td>
            <td class="py-2 px-4 text-center">
                {{ str_from_dt(cu.end_date, "seconds") }}
            </td>
            {% for cp, cus in tr[2] %}
                {% set color = "bg-slate-200" %}
                {% set hover_color = "bg-slate-300" %}
                {% if cus.is_available() and current_contest.is_rating_available() %}
                    {% set score=cus.score %}
                    {% set max_score=cp.max_score %}
                    {% if score is none %}
                        {% set color = "bg-slate-200" %}
                        {% set hover_color = "bg-slate-300" %}
                    {% elif score >= 0.9*max_score %}
                        {% set color = 'bg-green-200' %}
                        {% set hover_color = 'bg-green-300' %}
                    {% elif score >= 0.70*max_score %}
                        {% set color = 'bg-lime-200' %}
                        {% set hover_color = 'bg-lime-300' %}
                    {% elif score >= 0.5*max_score %}
                        {% set color = 'bg-yellow-200' %}
                        {% set hover_color = 'bg-yellow-300' %}
                    {% elif score >= 0.25*max_score %}
                        {% set color = 'bg-orange-200' %}
                        {% set hover_color = 'bg-orange-300' %}
                    {% else %}
                        {% set color = 'bg-red-200' %}
                        {% set hover_color = 'bg-red-300' %}
                    {% endif %}
                {% endif %}
                <td class="{{color}} hover:{{hover_color}} border border-black">
                    <a id="solution_href-{{cus.hashed_id}}" href="/contest/{{ current_contest.id }}/solution/{{ cus.hashed_id }}"
                    class="block w-12 h-12 p-2 flex justify-center items-center {% if cus.is_available() %} hover:cursor-pointer {% endif %}">
                        {% if cus.is_available() and current_contest.is_rating_available() and cus.score is not none %}
                            <span>{{ cus.score }}</span>
                        {% endif %}
                    </a>
                </td>
            {% endfor %}
            <td class="py-2 px-4 border-r border-black text-center">
                {% if current_contest.is_rating_available() %}
                {{ tr[1] }}
                {% else %}
                ?
                {% endif %}
            </td>
            <td class="py-2 px-4 text-center">
                {% if current_contest.is_rating_available() %}
                {{ tr[3] }}
                {% else %}
                ?
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

    <nav class="flex flex-col gap-y-2 w-1/4">
        {% if mode=="all" %}
            <a href="/contest/{{ current_contest.id }}/rating/my/{{part}}"
            class="text-center hover:cursor-pointer px-12 py-2 rounded-xl text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700">Показать мои посылки</a>
        {% else %}
            <a href="/contest/{{ current_contest.id }}/rating/all/{{part}}"
            class="text-center hover:cursor-pointer px-12 py-2 rounded-xl text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700">Показать все посылки</a>
        {% endif %}
        {% if part=="real" %}
            <a href="/contest/{{ current_contest.id }}/rating/{{mode}}/virtual"
            class="text-center hover:cursor-pointer px-12 py-2 rounded-xl text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700">Показать виртуальных участников</a>
        {% else %}
            <a href="/contest/{{ current_contest.id }}/rating/{{mode}}/real"
            class="text-center hover:cursor-pointer px-12 py-2 rounded-xl text-white font-semibold bg-blue-500 hover:bg-blue-600 active:bg-blue-700">Показать реальных участников</a>
        {% endif %}
    </nav>
</div>
{% endblock %}