<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/general.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
<title>{{ title }}</title>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ],processEscapes: true}});
  </script>
  
<script
    type="text/javascript"
    charset="utf-8"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>
<script>
    function render_multiline_text(text) {
        var result = "";
        var paragraphs = text.split("\n");
        for (var i = 0; i < paragraphs.length; i++) {
            result += "<p class='multiline_paragraph'>" + paragraphs[i] + "</p>";
        }
        return result;
    }
</script>
<script>
    function prevent_injection(s) {
        return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    }
</script>

</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/feed"><img class = "header__logo__img" src="/static/images/logo.png" alt="logo"></a>
            <span class = "header__logo__title">GeoMath</span>
        </div>
        <div class="header__profile">
            {% if current_user.is_authenticated %}
            <a class="header__profile__link" href="/profile/{{ current_user.name }}">{{ current_user.name }}</a>
            <a class="header__logout__link" href="/logout">Выйти</a>
            </div>
            {% else %}
            <a class="header__login__link" href="/login">Войти</a>
            <a class="header__register__link" href="/register">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>

    <nav class="topnav">
        <a class="topnav__link" id="feed_nav" href="/feed">Лента</a>
        <a class="topnav__link" id="contests_nav" href="/contests">Соревнования</a>
        <a class="topnav__link" id="collections_nav" href="/collections">Подборки</a>
        <a class="topnav__link" id="editor_nav" href="/editor">Редактор</a>
    </nav>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>