<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/prism.css">
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/latex_stuff.js"></script>



    <title>{{ title }}</title>


    <script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>

    <script>
        function prevent_injection(s) {
            return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        }
    </script>

    

</head>

<body class="mx-32 bg-slate-50 mb-32 tex2jax_ignore">
    <header class="flex justify-between items-stretch">
        <div class="flex items-center py-4">
            <a href="/feed"><img class="mix-blend-multiply h-20" src="/static/images/logo.png" alt="logo"></a>
            <span class="text-center text-4xl p-4 text-stone-800 font-medium">GeoMath</span>
        </div>
        <div class="flex items-end gap-x-4 text-2xl pb-3">
            {% if current_user.is_authenticated %}
            <a class="no-underline text-center font-medium text-stone-800 hover:text-sky-600"
                href="/profile/{{ current_user.name }}">{{ current_user.name }}</a>
            <a class="no-underline text-center font-medium text-stone-800 hover:text-red-600" href="/logout">Выйти</a>
        </div>
        {% else %}
        <a class="no-underline text-center font-medium text-stone-800 hover:text-sky-600" href="/login">Войти</a>
        <a class="no-underline text-center font-medium text-stone-800 hover:text-green-600"
            href="/register">Зарегистрироваться</a>
        {% endif %}
        </div>
    </header>

    <nav class="flex items-center bg-sky-400 rounded-md">
        <a class="text-white hover:text-blue-100 no-underline text-center text-xl p-4 rounded-l-md" id="feed_nav"
            href="/feed">Лента</a>
        <a class="text-white hover:text-blue-100 no-underline text-center text-xl p-4" id="contests_nav"
            href="/contests">Соревнования</a>
        <a class="text-white hover:text-blue-100 no-underline text-center text-xl p-4" id="sheets_nav"
            href="/sheets">Подборки</a>
        <a class="text-white hover:text-blue-100 no-underline text-center text-xl p-4" id="archive_nav"
            href="/archive/all">Архив</a>
    </nav>

    <div class="hidden mathjax-class">
        $\DeclareMathOperator{\tg}{tg}$
        $\DeclareMathOperator{\ctg}{ctg}$
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>



<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true}, elements: document.getElementsByClassName("mathjax-class")});
</script>
<script type="text/javascript" charset="utf-8"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>


</html>