{% extends "wip/archive.html" %}
{% block archive_content %}
    <script>
        var element = document.getElementById("contests_nav");
        element.classList.add("bg-sky-500");
    </script>

    <div class="mt-4">
        <!-- search panel -->

        <form autocomplete="off" class="flex w-full" action="/archive/contests/all" method="POST">
            <div class="w-2/3 relative inline-block">
                <input id="search_tags" type="text" placeholder="Введите теги через точку с запятой" name="tags"
                    class="w-full border-slate-400 border-2 rounded px-2 h-8" {% if tags %} value="{{ tags }}" {% endif %}>
            </div>
            <span class="text-slate-700 font-bold mx-4">|</span>
            <input type="submit" value="Найти" class="hover:font-bold hover:cursor-pointer hover:text-green-600">
        </form>

        <div class="flex flex-col items-center">
        {% include "archive/archive_contests_list.html" %}

        {% if pages_to_show %}
        <ul class="flex text-lg text-center mt-2 gap-x-2">
            {% for x in pages_to_show %}
                {% if x == current_page %}
                    <li>
                        <div class="w-6 h-6 rounded-full bg-blue-500"></div>
                    </li>
                {% else %}
                    <li>
                        <a class="hover:underline" href="{{ url_for('arch.archive_contest_search', tags=tags, page=x, mode=mode) }}">
                            <div class="w-6 h-6 rounded-full bg-blue-200"></div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        </div>

    </div>

    <script>
        autocomplete(document.getElementById("search_tags"), {"obj": "tags"});
    </script>


{% endblock %}