{% extends "wip/archive.html" %}
{% block archive_content %}

<div class="w-full my-4 text-lg">
    <div class="w-full border-4 border-solid border-sky-400 bg-white flex flex-col p-4 rounded-lg">

        <div class="flex">
            <span class="text-2xl text-stone-800"> <a href="/archive/my" class="no-underline hover:underline">Мои задачи</a> </span>
            <span class="text-2xl text-stone-800 mx-2"> / </span>
            <span class="text-2xl text-stone-800 font-bold"> <a href="/archive/my/{{ arch.id }}" class="no-underline hover:underline">{{ arch.name }}</a> </span>
        </div>

        <div class="h-px w-full bg-neutral-300 my-2"></div>

        <span class="text-slate-500 font-bold">Условие:</span>
        {% for paragraph in arch.statement.split("\n") %}
        <p class="m-0 text-base">{{ paragraph }}</p>
        {% endfor %}

            <div class="h-px w-full bg-neutral-300 my-2"></div>

            <div class="flex">
                {% if arch.show_solution %}
                    <span class="flex text-slate-500 font-bold">Решение:</span> <span class="text-green-600 ml-4">доступно</span>
                {% else %}
                    <span class="flex text-slate-500 font-bold">Решение:</span> <span class="text-red-500 ml-4">скрыто</span>
                {% endif %}
                
            </div>
            {% for paragraph in arch.solution.split("\n") %}
            <p class="m-0 text-base">{{ paragraph }}</p>
            {% endfor %}
    </div>
    <div class="ml-4">
        <form action="/archive/my/{{ arch.id }}" method="post" class="my-4">
            <input type="hidden" name="switch_solution_access" value="239">
            {% if arch.show_solution %}
            <input type="submit" class="hover:cursor-pointer hover:underline text-black" value="Скрыть доступ к решению">
            {% else %}
            <input type="submit" class="hover:cursor-pointer hover:underline text-black" value="Показывать пользователям решение">
            {% endif %}
        </form>
        <span class="text-slate-500 font-bold">Теги:</span>
        <ul>
            {% for tag in arch.get_tags() %}
            <li class="flex">
                <span class="text-slate-500 font-bold mr-4">#</span>
                <div class="w-1/4"><span>{{ tag.name }}</span></div>
                <span class="text-slate-500 font-bold mx-4">|</span>
                <form action="/archive/my/{{ arch.id }}" method="post">
                    <input type="hidden" name="remove_tag" value="{{ tag.id }}">
                    <input type="submit" value="Удалить тег" class="hover:font-bold hover:cursor-pointer hover:text-red-600">
                </form>
            </li>
            {% endfor %}
        </ul>
        <div class="flex w-full">
            <form action="/archive/my/{{ arch.id }}" method="post" class="flex w-full">
                <span class="text-slate-500 font-bold mr-4">#</span>
                <input type="hidden" name="add_tag" value="239">
                <div class="w-1/4"><input type="text" placeholder="Введите тег" name="tag_name" class="w-full border-slate-400 border-2 rounded px-2"></div>
                <span class="text-slate-700 font-bold mx-4">|</span>
                <input type="submit" value="Добавить тег" class="hover:font-bold hover:cursor-pointer hover:text-green-600">
            </form>
        </div>
    </div>
</div>

{% endblock %}