{% extends "wip/archive.html" %}
{% block archive_content %}
    <script>
        var element = document.getElementById("sheets_nav");
        element.classList.add("bg-sky-500");
    </script>

    <div class="mt-4">
        <!-- search panel -->

        <section class="flex">
        <form autocomplete="off" class="flex w-full" action="/archive/sheets/all" method="POST">
            <div class="w-2/3 relative inline-block">
                <input id="search_tags" type="text" placeholder="Введите теги" name="tags"
                    class="w-full border-slate-400 border-2 rounded px-2" {% if tags %} value="{{ tags }}" {% endif %}>
            </div>
            <span class="text-slate-700 font-bold mx-4">|</span>
            <input type="submit" value="Найти" class="hover:font-bold hover:cursor-pointer hover:text-green-600">
        </form>
        {% if pages_to_show %}
            <ul class="flex text-lg text-center">
                    <li>
                        {% if current_page > pages_to_show[0] %}
                        <a class="text-sky-500 px-4 hover:underline font-bold text-xl" href="{{ url_for('arch.archive_sheet_search', tags=tags, page=current_page-1, mode=mode) }}">&lt;</a>
                        {% else %}
                        <a class="invisible text-sky-500 px-4 hover:underline" href="{{ url_for('arch.archive_sheet_search', tags=tags, page=current_page-1, mode=mode) }}">&lt;</a>
                        {% endif %}
                    </li>
                {% for x in pages_to_show %}
                    {% if x == current_page %}
                        <li class="w-8">
                            <span class="font-bold text-stone-800 px-2">{{ x }}</span>
                        </li>
                    {% else %}
                        <li class="w-8">
                            <a class="text-sky-500 px-2 hover:underline" href="{{ url_for('arch.archive_sheet_search', tags=tags, page=x, mode=mode) }}">{{ x }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if current_page < pages_to_show[-1] %}
                    <a class="text-sky-500 px-4 hover:underline font-bold text-xl" href="{{ url_for('arch.archive_sheet_search', tags=tags, page=current_page+1, mode=mode) }}">&gt;</a>
                    {% else %}
                    <a class="invisible text-sky-500 px-4 hover:underline" href="{{ url_for('arch.archive_sheet_search', tags=tags, page=current_page+1, mode=mode) }}">&gt;</a>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
        </section>

        <!-- sheets list -->

        {% include "archive/archive_sheets_list.html" %}

        <!-- select page from 0 to total pages -->
        
    </div>

    <script>
        autocomplete(document.getElementById("search_tags"), {"obj": "tags"});
    </script>


{% endblock %}