<ul class="list-none p-0 border-4 border-solid border-sky-400 rounded-lg mt-4 w-2/3">
    {% for sheet in sheets %}

    {% with textcolor='text-white' %}
    {% if sheet[1] >= 0.9*sheet[2] %}
        {% set bgcolor = 'text-green-500' %}
    {% elif sheet[1] >= 0.75*sheet[2] %}
        {% set bgcolor = 'text-lime-500' %}
    {% elif sheet[1] >= 0.5*sheet[2] %}
        {% set bgcolor = 'text-yellow-500' %}
    {% elif sheet[1] >= 0.25*sheet[2] %}
        {% set bgcolor = 'text-orange-500' %}
    {% else %}
        {% set bgcolor = 'text-red-500' %}
    {% endif %}
    {% with perc=0 %}
    {% if sheet[2] == 0 %}
        {% set perc = 100 %}
    {% else %}
        {% set perc = (100*sheet[1]/sheet[2])|round|int %}
    {% endif %}
    


    <li class="border-b border-slate-200 bg-white p-4 flex flex-row justify-between first:rounded-t-lg last:rounded-b-lg hover:bg-slate-100 items-center h-16">
        <div class="flex flex-row items-center">
            <a href="/archive/sheet/{{ sheet[0].id }}" class="no-underline text-black text-xl hover:underline mr-4">
                <span class="text-black text-xl">{{ sheet[0].name }}</span>
            </a>
            <span>Совпадение: <span class="text-bold {{bgcolor}}">{{ perc }}%</span></span>
        </div>
        <div class="like" id="like-Sheet-{{ sheet[0].id }}"></div>
    </li>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</ul>