{% extends "wip/archive.html" %}
{% block archive_content %}
<div class="w-full my-4 text-lg">
    <div class="w-full border-4 border-solid border-sky-400 bg-white flex flex-col p-4 rounded-lg">
        <div class="flex">
            <span class="text-2xl text-stone-800"> <a href="/archive/all" class="no-underline hover:underline">Архив</a>
            </span>
            <span class="text-2xl text-stone-800 mx-2"> / </span>
            <span class="text-2xl text-stone-800 font-bold"> <a href="/archive/problem/{{ problem.id }}"
                    class="no-underline hover:underline">{{ problem.name }}</a> </span>
        </div>

        <div class="h-px w-full bg-neutral-300 my-2"></div>

        <span class="text-slate-500 font-bold">Условие:</span>
        {% for paragraph in problem.statement.split("\n") %}
        <p class="mathjax-class m-0 text-base">{{ paragraph }}</p>
        {% endfor %}

        <div class="h-px w-full bg-neutral-300 my-2"></div>

        {% if problem.show_solution %}
        <span class="text-green-600 font-bold">доступно</span>
        {% else %}
        <span class="text-red-500 font-bold">скрыто</span>
        {% endif %}
        <details>
            <summary class="text-slate-500 font-bold">Решение:</summary>
            {% if problem.show_solution %}
            {% for paragraph in problem.solution.split("\n") %}
            <p class="mathjax-class m-0 text-base">{{ paragraph }}</p>
            {% endfor %}
            {% else %}
            <span class="text-red-500">Автор задачи скрыл решение</span>
            {% endif %}
        </details>

        <div class="h-px w-full bg-neutral-300 my-2"></div>
    </div>
</div>





{% endblock %}